body{
    margin:0;
    background-color: #F5F5F5;
}
.container{
    display: flex;
    min-width: 70rem;
    max-width: 85rem;
}
/* ------------------------------------------- */

.left-side{
    background-image: url("./resources/Stunning Mountains by Jeremy Bishop.jpg");
    background-size: cover;
    height: 100vh;
    width: fit-content;
}
.banner{
    display:flex;
    opacity: 95%;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 48vh;
    padding: 0 5rem;
}
.site-logo{
    height:20vh;
}
@font-face{
    font-family: Odin;
    src: url("./resources/Norse Bold.otf");
}
.brand-name{
    font-family: Odin, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
}
/* ------------------------------------------- */

.top{
    font-family: Lato,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding: 8rem 1rem 2rem 3rem;
    margin-bottom: 3rem;
}
/* ------------------------------------------- */
 ul{
    width:100%;
    padding-left: 0;
 }
 ul li{
    width:49%;
    display:inline-block;
    padding-bottom: 1rem;
 }
 ul li > * {
    width:100;
 }
label{
    letter-spacing: 1px;
    font-size:0.75rem;
    width: fit-content;
    display: block;
    margin: 0.25rem 0;
}
li input{
    min-width: 14rem;
    height:1.5rem;
    border:1px solid black;
    border-radius: 3px;
    height:1.75rem;
}
li input:focus{
    outline: none;
    border:1px solid blue;
    box-shadow: 2px 2px 4px black;
}
li input:invalid:focus{
    border-color: red;
}
::placeholder{
    opacity: 50%;
    font-style: italic;
}
/* ------------------------------------------- */

.right-side{
    font-family: Lato, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form{
    background-color: white;
    box-shadow:  1px -30px 16px -42px rgba(0,0,0,0.45),
    0px 25px 20px -20px rgba(0,0,0,0.45);
    padding: 0.5rem 0 2rem 3rem;
}
.bottom{
    padding: 3rem 0 0 3rem;
}
.submit{
    padding: 1rem 4rem;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: #9ebdf0;
    border:none;
    border-radius: 10px;
    text-shadow: 0.5px 0.5px 2px black;
    box-shadow: 1px 1px 3px black;
    margin-bottom: 1rem;
}
.submit:hover{
    background-color:#89B0F0;
}
.submit:active{
    box-shadow: none;
    text-shadow:0.5px 0.5px 1px black;
}
.login{
    text-decoration: none;
    color:#6C9EF0;
}
.login:hover{
    font-weight:bolder;
    color:#6C9EF0;
}
.login:visited{
    color:#8162D9;
}