body{
    margin:0;
}
.container{
    display: flex;
}
.photo{
    background-image: url("/Users/wesleycho/repos/sign-up-form/resources/Stunning Mountains by Jeremy Bishop.jpg");
    height: 100vh;
    background-size: cover;
    min-width: 33vw;
}
.banner{
    display:flex;
    opacity: 95%;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 48vh;
}
.site-logo{
    max-height: 20vh;
}
@font-face{
    font-family: Odin;
    src: url("/Users/wesleycho/repos/sign-up-form/resources/Norse Bold.otf");
}
.brand-name{
    font-family: Odin, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
}